@import '../setColors.scss';

.header{
    background: $primary;
}

.logo {
    max-width: 100px;
    padding: 5pt;
}

.mobile-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-links li {
    margin: 0 10px;
}

.mobile-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

