@import '../setColors.scss';

html {
  scroll-behavior: smooth;
}

.tema {
  background-image: url('../../public/images/bg2.png');
  background-size: cover;

  h2 {
    color: white;
    font-weight: 700;
  }

  h5 {
    color: white;
    font-weight: 300;
  }

  .titulo {
    color: $secondary;
    font-size: 24pt;
    font-weight: 700;
    line-height: 1;
  }

  p {
    color: white;
    font-weight: 300;
  }

  span {
    color: $secondary;
    font-weight: 600;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas em telas grandes */
    gap: 10px; /* Espaçamento entre os cards */
    width: 100%;
    padding: 10px;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px; /* Cantos arredondados */
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 1.5px solid $secondary;
    max-height: 230px;
    
    /* Garantir que o card tenha a mesma largura, mas altura ajustada ao conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  
    height: 100%; /* A altura será ajustada automaticamente */
  }
  
  .card h2 {
    font-size: medium;
  }
  
  .card p {
    font-size: 9pt;
    line-height: 12pt;
  }
  
  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .titulo {
      color: $secondary;
      font-size: 24pt;
      font-weight: 700;
      line-height: 1;
    }
  }
  
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  
}

.mapa {
  background-image: url('../../public/images/bg3.svg');
  background-size: cover;
  position: relative;

  .icon {
    min-width: 30px;
  }

  .btn-mapa {
    background: transparent;
    border: none;
    position: absolute,
    }
  }

  .btn-mapa-1 {
    width: 47px; height: 21px; top: 36%;left: 77.5%;
  }

  .btn-mapa-2 {
    width: 49px; height: 22px; top: 46%; left: 84%;
  }

  .btn-mapa-3 {
    width: 49px;
    height: 22px;
    top: 28%;
    left: 80%;
  }
 
  .btn-mapa-4 {
    width: 49px;
    height: 26px;
    top: 16%;
    left: 75%;
  }

  .btn-mapa-5 {
    width: 49px;
    height: 22px;
    top: 8%;
    left: 77.5%;
  }

  .btn-mapa-6 {
    width: 46px;
    height: 28px;
    top: 15%;
    left: 67.5%;
  }

  .btn-mapa-7 {
    width: 49px;
    height: 22px;
    top: 27%;
    left: 68.5%;
  }

  .btn-mapa-8 {
    width: 49px;
    height: 22px;
    top: 36%;
    left: 68%;
  }

  .btn-mapa-9 {
    width: 73px;
    height: 22px;
    top: 57.5%;
    left: 59%;
  }

  .btn-mapa-10 {
    width: 49px;
    height: 22px;
    top: 7.5%;
    left: 56%;
  }

  .btn-mapa-11 {
    width: 49px;
    height: 22px;
    top: 23%;
    left: 49.5%;
  }

  .btn-mapa-12 {
    width: 49px;
    height: 22px;
    top: 31.5%;
    left: 47.5%;
  }

  .btn-mapa-13 {
    width: 49px;
    height: 22px;
    top: 35%;
    left: 41%;
  }

  .btn-mapa-14 {
    width: 49px;
    height: 22px;
    top: 27%;
    left: 30.5%;
  }

  .btn-mapa-15 {
    width: 49px;
    height: 22px;
    top: 34%;
    left: 26.5%;
  }

  .btn-mapa-16 {
    width: 49px;
    height: 29px;
    top: 17%;
    left: 23.7%;
  }

  .btn-mapa-17 {
    width: 49px;
    height: 29px;
    top: 23%;
    left: 15%;
  }

  .btn-mapa-18 {
    width: 49px;
    height: 22px;
    top: 38%;
    left: 35%;
  }

  .btn-mapa-19 {
    width: 49px;
    height: 22px;
    top: 74%;
    left: 76%;
  }

  .btn-mapa-20 {
    width: 49px;
    height: 22px;
    top: 81%;
    left: 71.5%;
  }

  .btn-mapa-21 {
    width: 49px;
    height: 22px;
    top: 88%;
    left: 70%;
  }

  .btn-mapa-22 {
    width: 73px;
    height: 24px;
    top: 57%;
    left: 59%;
  }
  .btn-mapa-23 {
    width: 49px;
    height: 22px;
    top: 39.5%;
    left: 54.5%;
  }


.proposta {
  background-color: $primary;

  h2 {
    color: white;
    font-weight: 700;
  }

  p {
    color: white;
    font-weight: 300;
  }

  span {
    color: $secondary;
    font-weight: 700;
  }

}

.indicadores{
  
  button {
   color: $primary;
   border-color: $primary;
   background-color: #2f2fff11;
  }
}

.section-container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  grid-auto-rows: 250px;
}

@media (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Uma coluna para telas muito pequenas */
  }
}

.speaker-card {
  width: 100%;
  height: 250px;
  background: white;
  border-radius: 8px;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-shrink: 0;
  transform-origin: left center;
}

.speaker-card.open {
  width: 640px;
  grid-column: span 3;
  border-color: #6b46c1;

  .speaker-name {
    font-weight: bold;
    color: $primary;
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  .speaker-position {
    font-size: 12px;
    color: $primary;
  }

  a {
    color: $primary;
  }
}

/* Responsividade para telas menores */
@media (max-width: 768px) { /* Tablets e celulares grandes */
  .speaker-card.open {
    width: 450px; /* Ocupa 90% da largura da tela */
    grid-column: span 0; /* Ajusta para não ocupar muito espaço */
  }
}

@media (max-width: 480px) { /* Celulares menores */
  .speaker-card.open {
    width: 300px; /* Ocupa toda a largura disponível */
    grid-column: span 1;
  }

  .speaker-name {
    font-size: 18px; /* Diminui o tamanho do nome */
  }

  .speaker-position {
    font-size: 10px; /* Diminui o tamanho da posição */
  }
}



.speaker-image {
  min-width: 195px;
  object-fit: cover; 
  object-position: top; 
  height: auto;
}

.speaker-info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  color: white;
}

.speaker-info .speaker-name,
.speaker-info .speaker-position {
  transition: opacity 0.3s ease;
}

.speaker-card.open .speaker-info .speaker-name,
.speaker-card.open .speaker-info .speaker-position {
  display: none;
}

.speaker-name {
  font-weight: 800;
  font-size: 18px;
  color: white;
  padding: 0;
  margin: 0;
}

.speaker-position {
  font-size: 12px;
  color: white;
}

.speaker-tag {
  border-radius: 10px;
  background: #ffffff69;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
}


.speaker-card.open {
  .speaker-info {
    width: 30%;
  }
}

.view-more-btn {
  background-color: #805ad5;
  color: white;
  border-radius: 999px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.view-more-btn:hover {
  width: 80px;
}

.view-more-btn .plus-icon {
  display: block;
}

.view-more-btn .view-more-text {
  display: none;
}

.view-more-btn:hover .plus-icon {
  display: none;
}

.view-more-btn:hover .view-more-text {
  display: block;
}

.expanded-content {
  padding: 20px;
  display: none;
}

.expanded-content.show {
  display: block;
}

.expanded-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.speaker-image-small {
  border-radius: 8px;
  max-height: 80px;
  display: none;
}

@media (max-width: 768px) {
  .speaker-image-small {
    display: block;
  }
}

.speaker-description {
  font-size: 12px;
  line-height: 14px;

}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #805ad5;
}

h2 {
  color: $primary;
  font-weight: 700;
}

p {
  color: $primary;
  font-weight: 400;
}

.schedule-card {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  border: 2px solid $secondary;
  border-radius: 10px;
  background-color: #32fa890c;
}

.time {
  font-weight: bold;
  color: #2f2fff;
  margin-right: 10px;
  font-size: 32px;
  font-weight: 800;
}

.description {
  color: $primary;
  font-weight: 400;
}

.btn-primary {
  --bs-btn-bg: #2f2fff25;
  --bs-btn-color: #2f2fff;
}

button{
  font-weight: 500;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.13);
}